*
{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.woff2') format('woff2'),
         url('fonts/Roboto.woff') format('woff'),
         url('fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
body
{
    background-color: #3F3F3F
}
.header
{
    width: 100%;
    height: 70px;
    background-color: black;
}
h1
{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container
{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
body {
    font-family: 'Roboto', sans-serif;
  }
.menu
{
gap: 50px;
display: flex;
}

.content
{
    width: 1000px;
    height: 100vh;
    background-color: #212121;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
.content .container
{
    flex: 1;
}
.block
{
    width: 793px;
    height: 286px;
    background-color: #3F3F3F;
    display: flex;
    margin: 101px 0px 344px 0px;
    border-radius: 0 0 60px 0;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    
}
/* .block h1 {
    font-size: 66px; 
    font-weight: 400; 
    color: white; 
    margin-bottom: 10px; 
    margin: 0px 0px 0px 49px;
}

.block p {
    font-size: 31px;
    color: white; 
    margin-bottom: 10px; 
    margin: 0px 0px 0px 49px;
}

.block a {
    font-size: 38px; 
    font-weight: 500; 
    color: white; 
    text-decoration: underline; 
    margin: 0px 0px 0px 290px;
} */
